/* esercizio 1 */

.ex-1-square{
    transition: background-color 3s;
}

.ex-1-square:hover{
    background-color: red;
}

/* esercizio 2 */

.ex-2-square{
    transition: all 2s;
}

.ex-2-square:active{
    width: 100%;
}

/* esercizio 3 */

.ex-3-square{
    transition: all 1s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* esercizio 4 */

.ex-4-square{
    transition: all 2s;
}

.ex-4-square:hover{
    background-color: rgba(255, 0, 0, 0);
}

/* esercizio 5 */

.ex-5-square{
    transition: all 1s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
    margin: 0;
}

.ex-5-square:active{
    width: 40px;
    height: 40px;
    margin: 30px;
}

/* esercizio 6 */

.ex-6-img:hover{
    filter: grayscale();
}

/* esecizio 7 */

.ex-7-img{
    transition: all 2s;
}

.ex-7-img:hover{
    filter: sepia(0.7);
}

/* esecizio 8 */

.ex-8-img{
    transition: all 2s;
}

.ex-8-img:hover{
    filter: sepia(0.7);
    border-radius: 3rem;
}

/* esecizio 9 */

.ex-9-img{
    transition: all 2s;
}

.ex-9-img:hover{
    filter: sepia(0.7);
    border-radius: 3rem;
    margin: 0;
    width: 600px;
}

/* esercizio 10 */

.ex-10-icon{
    animation: turn linear;
    animation-duration:  1s;
    animation-iteration-count: infinite;
    
}

@keyframes turn {
    100%{
        transform: rotate(-360deg);
    }
}

/* esercizio 11 */


.ex-11-icon:hover{
    animation: half;
    animation-duration: 2s ;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes half {
    90%{
        transform: rotate(300deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

/* esercizio 12 */

.ex-12-button:hover .ex-12-top-white{
    animation: half-btn-top;
    animation-duration: 2s ;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: half-btn-bottom;
    animation-duration: 2s ;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes half-btn-top {
    50%{
       position: absolute;
       top: -10px;
       left: 60%;
    }
}


@keyframes half-btn-bottom {
    50%{
       position: absolute;
       bottom: -10px;
       right: 60%;
    }
}

/* esercizio 13 */

.ex-13-button:hover .ex-13-top-white{
    animation: btn-top;
    animation-duration: 3s ;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: btn-bottom;
    animation-duration: 3s ;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes btn-top {
    25%{
       top: -10px;
       left: 90%;
    }

    50%{
        top: 90%;
        left: 90%;
    }

    75%{
        top: 90%;
        left: -20px;
    }

    90%{
        top:-10px;
        left:-20px;
    }

    100%{
        top:-10px;
        left:10%;
    }
}

@keyframes btn-bottom {
    25%{
       bottom: -10px;
       right: 80%;
    }

    50%{
        bottom: 90%;
        right: 80%;
    }

    75%{
        bottom: 90%;
        right: -20px;
    }

    90%{
        bottom:-10px;
        right:-20px;
    }

    100%{
        bottom:-10px;
        right:20%;
    }
}


